node_modules/

android/app/build/
android/build/
ios/build/

.env
functions/.env
functions/node_modules/
functions/gitignore/

# Firebase config sensitive files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

*.log
firestore-debug.log
firebaseconfig.js

.DS_Store
desktop.ini
Thumbs.db

.vscode/
.idea/


ios/Pods/
ios/Podfile.lock
ios/DerivedData/
ios/build/
